# Bỏ qua file môi trường
.env
*.env
**/airflow_env/
**/google-key.json

# Bỏ qua file cấu hình
*.cfg

# Bỏ qua file cơ sở dữ liệu
*.db

# Bỏ qua thư mục ẩn của hệ thống và các tệp log
.DS_Store
Thumbs.db
*.log

# Ignore Python bytecode
__pycache__/
*.pyc

# Ignore Airflow logs and __pycache__ 
airflow/**/logs/
airflow/**/__pycache__/